<md-list>

  <md-list-item ng-repeat="gridTitle in homeCtrl.grid" ng-click="$state.go('topic', { id: gridTitle.id })">
    <img alt="{{ gridTitle.title }}" ng-src="{{ gridTitle.title }}" class="md-avatar" />
    <div class="md-list-item-text" layout="column">
      <h4>{{ gridTitle.title }}</h4>
      <p>{{ gridTitle.notes }}</p>
    </div>    
    <md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>
  </md-list-item>
</md-list>